@font-face {
    font-family: 'OpenSans-Bold';
    src: url(fonts_open_sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url(fonts_open_sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(fonts_open_sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-Semibold';
    src: url(fonts_open_sans/OpenSans-Semibold.ttf);
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

h1 {
    font-family: 'OpenSans', 'AdobeInvisFon', 'AdobeArabic-Regular';
    font-size: 41pt;
    color: rgba(54, 135, 196, 255);
    background: url(images/logo-background-tablet.png);
    background-repeat: no-repeat;
    background-position: 50% 170%;
    width: 200px;
    text-align: center;
    padding-bottom: 6px;
    position: relative;
    left: 90px;
}

.search {
    margin: 50px;
    position: relative;
}

.search input[type="search"] {
    padding: 6px 10px 6px 15px;
    border: none;
    font-family: 'OpenSans-Light', 'AdobeInvisFont', 'AdobeArabic-Regular';
    font-size: 15pt;
    color: black;
    text-align: left;
    outline: none;
    width: 105%;
}

.search input[type="submit"] {
    background: url(images/loupo.png);
    border: none;
    outline: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 240px;
}

#menu_icon {
    display: flex;
    flex-direction: column;
    margin: 18px 35px;
}

#menu_icon img {
    margin: 5px;
}

nav {
    display: none;
}

main {
    display: flex;
    flex-flow: column;
}

#central_picture {
    background: url(images/iback-tablet.png);
    background-repeat: no-repeat;
    height: 736px;
    background-size: 100% 736px;
}

article {
    background: white;
    margin: 0 0 1rem 0;
}
    
#central_top_inscription {
    font-family: 'OpenSans-Bold', 'OpenSans-Light', 'AdobeInvisFont', 'AdobeArabic-Regular';
    font-size: 42pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding-top: 15rem;
    margin: 0;
    z-index: 1;
    position: relative;
}

#central_lower_inscription {
    font-family: 'OpenSans-Light', 'AdobeInvisFont', 'AdobeArabic-Regular';
    font-size: 32pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    margin: 0;
    position: absolute;
    top: 230px;
    left: calc(50% - 355px); 
    width: 800px;
    z-index: -1;
}

#central_lower_inscription span {
    font-family: 'OpenSans-Bold', 'OpenSans-Light', 'AdobeInvisFont', 'AdobeArabic-Regular';
    font-size: 90pt;
    font-weight: 900;
    color: #bbedff;
    margin: 13px;
}

#slider {
    display: none;
}

#contact {
    display: none;
}

h2 {
    font-family: 'OpenSans-Bold', 'AdobeInvisFont', 'AdobeArabic-Regular';
    font-size: 26pt;
    color: rgba(109, 110, 113, 255);
    text-align: left;
}

article p {
    font-family: 'OpenSans-Light', 'AdobeInvisFon', 'AdobeArabic-Regular';
    font-size: 16pt;
    color: rgba(109, 110, 113, 255);
    text-align: justify;
}

article {
    position: relative;
    margin: 10px 250px;
    padding-left: 130px; 
}

article .img {
    position: absolute;
    left: 5px;
}

@media (min-width: 1480px) {
    #menu_icon {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
        height: 325px;
        align-items: center;
    }

    #logo_and_contact {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    h1 {
        font-size: 30pt;
        background: url(images/logo-background-desktop.png);
        background-position: 0;
        width: 400px;
        height: 70px;
        padding-top: 19px;
        margin-top: 50px;
    }

    #menu {
        display: flex;
        width: 100%;
        justify-content: center;
        border: solid #eceef4;
        border-width: 1px 0 0 0;
    }

    nav {
        display: flex;
        list-style: none;
        position: relative;
    }

    nav li a {
        display: block;
        padding: 38px 35px;
        border: solid #eceef4;
        border-width: 1px 0.5px 0 0.5px;
        text-decoration: none;
        font-family: 'OpenSans-Bold', 'AdobeInvisFont', 'AdobeArabic-Regular';
        font-size: 13pt;
        color: rgba(109, 110, 113, 255);
        text-align: left;
    }

    #HOME {
        color: rgba(31, 170, 226, 255);
        border-width: 1px 0.5px 0 0;   
    }

    #Contact {
        border-width: 1px 0 0 0.5px;       
    }

    .search {
        margin: 31px 0px 31px 170px;
    }

    .arrow-up {
        width: 0; 
        height: 0; 
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-bottom: 15px solid #1faae2;
        position: absolute;
        left: 37px;
        top: 86px;
    }

    #contact {
        display: flex; 
        margin-top: 113px;
        height: 20px;
    }

    #location {
        padding: 0 25px;
        border: solid #bcbec3;
        border-width: 0 1px;
        height: 40px;
        position: relative;
    }

    #location svg {
        padding: 0;
        margin: 0;
    }

    #location:before {
        content: "Saudi Arabia . Alreyadah";
        font-family: 'OpenSans-Light', 'AdobeInvisFont', 'AdobeArabic-Regular';
        font-size: 13pt;
        color: rgba(109, 110, 113, 255);
        text-align: center;
        width: 240px;
        position: absolute;
        left: -83px;
        top: -80px;
        border: 1px solid #d4d4d5;
        padding: 13px 0;
        display: none;
    }

    #location:after {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 12px solid #f00;
        position: absolute;
        left: 23px;
        top: -29px;
        display: none;
    }

    #location:hover:before {
        display: block;
    }

    #location:hover:after {
        display:block;
    }

    #phone {
        padding-top: 5px; 
        padding-right: 25px;
    }

    #mail {
        padding-top: 2.5px;
        padding-left: 15px;
        flex: 33%;      
    }

    #contact div:hover svg path {
        fill: rgb(31,170,226);
    }

    #central_picture {
        background: url(images/iback-desktop.png);
        height: 885px;
        background-size: 100% 885px;
        position: relative;
    }
    
    #articles {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    article {
        margin: 50px 5%;
        width: 530px;
    }

    article p {
        width: 519px;
    }

    article .img {
        top: 15px;
    }

    #article1 {
        margin-left: 0;
    }

    #article2 {
        margin-right: 0;
    }

    #slider {
        display: flex;
        position: absolute;
        left: 44%;
        top: 60%;
        height: 241px;
    }

    figure {
        margin: 0;
    }

    #slide1 figcaption {
        position: relative;
        bottom: 70px;
        background: rgba(136, 201, 78, 0.9);
        padding: 15px 10px;
        text-align: center; 
    }

    #slide2 figcaption {
        position: relative;
        bottom: 70px;
        background: rgba(254, 235, 117, 0.9);
        padding: 15px 10px;
        text-align: center;    
    }

    #slide1 figcaption span {
        
        font-family: 'OpenSans-Semibold', 'AdobeInvisFon', 'AdobeArabic-Regular';
        font-size: 14pt;
        color: rgba(255, 255, 255, 255);
        vertical-align: 8px;
        margin: 5px;
    }

    #slide2 figcaption span {
        font-family: 'OpenSans-Semibold', 'AdobeInvisFon', 'AdobeArabic-Regular';
        font-size: 14pt;
        color: rgba(204, 152, 0, 255);
        vertical-align: 8px;
        margin: 5px;
    }

    #switch {
        background: #f4f4f4;
    }

    #switch img {
        padding: 100px 45px;
    }
}