form {
    font-family: sans-serif;
}

input {
    margin-left: 4px;
}

#selectorcountryofresidence {
    margin-left: 4px;
    width: 67px;
}

#selectortitle {
    height: 138px;
}

.button {
    margin: initial;
}