div {
    margin: 5em;
}

#div1 {
    background: #60B88D;
    width: 75%;
    height: 275px;
    box-shadow: 5px 5px 0 #90CDAF, 10px 10px 0 #BFE3D1;
}

#div2 {
	background: #60B88D;
	width: 75%;
	height: 275px;
	position: relative;
}

#div2:after, #div2:before {
	content: '';
	position: absolute;
    width: 100%;
    height: 100%;
	z-index: -1;
}

#div2:after {
	background: #90CDAF;
    top: 5px;
    left: 5px;
}

#div2:before {
	background: #BFE3D1;
    top: 10px;
    left: 10px;
}

#div3 {
	background: #BFE3D1;
	width: 75%;
    height: 275px;
    margin: calc(5em + 10px);
}

#div3_1 {
    background: #90CDAF;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 5px;
    right: 5px;
    margin: initial; 
}

#div3_1_1 {
    background: #60B88D;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 5px;
    right: 5px;
    margin: initial;  
}

