@import url(http://fonts.googleapis.com/css?family=Audiowide);

* {
    margin-bottom: 50px;
}

#div1_1 {
    background-color: rgb(50%, 10%, 53%);
    font-size: 2em;
    width: 150%;
    margin-left: -150px;
    font-family: Arial, Helvetica, sans-serif; 
    font-variant: initial;
    font-weight: lighter;
    text-decoration: line-through;
    text-transform: lowercase;
}

#div3_1 {
    background-color: beige;
    font-family: sans-serif;
    line-height: normal;
    text-transform: none;
}

html {
    font-size: 16px;
}

#div3 {
    font-size: 1.3rem;
    font-family: "Audiowide", "Comic Sans MS";
    font-style: italic;
    text-align: right;
    text-indent: 50px;
}